//Paleta Colores// 

.colores {
    position: absolute;
    display: flex;
  }

  .amarillo {
    background-color: yellow;
    border-radius: 100px;
    margin: 5px;
  }
  .azul {
    background-color: blue;
    border-radius: 100px;
    margin: 5px;
  }
  .rojo {
    background-color: red;
    border-radius: 100px;
    margin: 5px;
  }
  .verde {
    background-color: green;
    border-radius: 100px;
    margin: 5px;
  }
  .naranja {
    background-color: orange;
    border-radius: 100px;
    margin: 5px;
  }